*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container{
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box{
  display: flex;
  height: 100px;
  background-color: rgb(111, 111, 111);
  border: 2px solid yellow;
  align-content: flex-start;
}

.menu{
  height: 50px;
  background-color: rgb(120, 164, 240);
  justify-content: center;
  align-items: center;
}

.nav{
  height: 40px;
  width: 200px;
  background-color: chocolate;
}

